
.form, .users {
  margin: 0px auto;
  width: 50%;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form > div {
  margin-top: 10px;
}
.form button {
  margin-top: 20px;
  width: 100px;
}

.pageButton {
  height: 75px;
  width: 430px !important;
  max-width: 98% !important;
  border-radius: 100px !important;
  font-size: 17px !important;
  padding-top: 20px;
}

.icon {
  width: 55px;
  fill: white;
  margin-right: 20px;
  margin-left: -22px;
  padding-left: 10px;
}

.display {
  text-align: center;
}

.instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 70%,#bc1888 100%);
}