
.App {
  width: 100%;
  background-color: #1A1A1D;
  min-height: 100vh;
  height: 100%;
}

.form, .users {
  margin: 0px auto;
}

.form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  align-items: center;
}

.formCard {
  width: 430px;
  max-width: 90% !important;
  margin: 3%;
  padding: 20px;
}

.form > div {
  margin-top: 10px;
}

.form button {
  margin-top: 20px;
  width: 100px;
}

.formInput {
  width: 90%;
}

.pageButton {
  height: 75px;
  width: 430px !important;
  max-width: 95% !important;
  border-radius: 100px !important;
  font-size: 17px !important;
  margin-bottom: 30px !important;
}

.white_icon {
  width: 55px;
  fill: white !important;
  margin-right: 20px;
  margin-left: -22px;
  padding-left: 10px;
}

.black_icon {
  width: 55px;
  fill: black;
  margin-right: 20px;
  margin-left: -22px;
  padding-left: 10px;
}

.display {
  text-align: center;
}

.instagram {
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 70%,#bc1888 100%);
}

.snapchat {
  background-color: #fffc00 !important;
  color: black;
}

.github {
  background-color: black !important;
  color: white !important;
}

.site {
  background-color: #646464 !important;
  color: white !important;
}

.googleDrive {
  background-color: #4285F4 !important;
  color: white !important;
}

.Logo {
  width: auto;
  height: 80px;
}

.logoText {
  color: white;
}

.logolink {
  color: #D63632;
  text-decoration: none;
}

.h1 {
   color: white;
   font-size: 40pt;
   margin-top: 10px;
   margin-bottom: 0;
}

.h2 {
  color: white;
  font-size: 20pt;
  margin-top: 0;
}